{% extends "cyber_security_app/index.html" %}

{% block content %}
<form action="/add_slot" method="POST">

    <p>Päivämäärä:<br>
    <input type="date" id="date" name="date" required></p>
    <p>Aloitusaika:<br>
    <input type="time" name="starting_time" required></p>
    <p>Lopetusaika:<br>
    <input type="time" name="finising_time" required></p>
    <select name="location">
        {% for location in locations %}
            <option value="{{ location.id }}"> {{ location.name }} </option>
        {% endfor %}
    </select>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Lisää aika">
</form>

{% endblock %}