{% extends "cyber_security_app/index.html" %}

{% block content %}

Viestien määrä: {{ count }}
<hr>
{% for message in messages %}
<!-- This line below causes XSS vulnerability. Django expect the content of the message to be safe, because of the safe filter.--> 
<i>Viesti:</i> {{ message.content|safe }}
<!--Fix is to remove the safe filter like below, so that the content of the message is escaped and not interpreted as HTML.-->
<!-- <i>Viesti:</i> {{ message.content }} -->
<p>
<i>Lähettäjä:</i> {{ message.user.username }}
<p>
<i>Aika:</i> {{ message.sent_at|date:"Y-m-d H:i:s" }}
<p>
{% if message.user == request.user %}
    <form action="{% url 'remove_message' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ message.id }}" name="remove"/>
    <button type="submit">Poista viesti</button>
    </form>
{% endif %}
<hr>
{% endfor %}

<form action="{% url 'send_message' %}" method="post">
    {% csrf_token %}
    Viesti: <br>
    <textarea name="content" rows="3" cols="40"></textarea>
    <br>
    <input type="submit" value="Lähetä">
    </form>

{% endblock %}