{% extends "cyber_security_app/index.html" %}

{% block content %}

<hr>
<p>Vapaiden aikojen maara: {{ count_times }}</p>
<hr>
{% for time in times %}
<i>Lahettaja:</i> {{ time.username }}
<p>
<i>Paivamaara:</i> {{ time.date_of_time }}
<p>
<i>Aloitusaika:</i> {{ time.start_time }}
<p>
<i>Lopetusaika:</i> {{ time.end_time }}
<p>
<i>Paikka:</i> {{ time.name }}
<p></p>
<form action="/reserved_slots" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{ time.id }}" name="id"/>
    <input type="hidden" value="{{ time.username }}" name="user"/>
    <input type="hidden" value="{{ time.date_of_time }}" name="date"/>
    <input type="hidden" value="{{ time.start_time }}" name="start_time"/>
    <input type="hidden" value="{{ time.end_time }}" name="end_time"/>
    <input type="hidden" value="{{ time.name }}" name="location"/>
    <button type="submit">Varaa aika</button>
</form>
<hr>
{% endfor %}

{% endblock %}